/* Add CSS Styling */
p {
  background-color: #FFA6A6;
  font-family: "Verdana", "DejaVu", sans-serif;
}

#second-heading {
  color: #0000FF;
  font-size: 36px;
}

p.cooler {
  font-size: 24px;
}

#forth-heading {
  background-color: #7FFF7F;
  font-size: 24px;
  font-weight: bold;
}
